parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
    bootstrapFiles:
        - vendor/autoload.php
        - stubs/Redis.php

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
